---
import Layout from '@/layouts/Layout.astro'
---

<Layout title='404 - Page Not Found'>
	<table class='outer'>
		<tbody>
			<tr>
				<td style='padding:2.5%;text-align:center;'>
					<p class='name'>404</p>
					<p>Page not found.</p>
					<p><a href='/'>Go home</a></p>
				</td>
			</tr>
		</tbody>
	</table>
</Layout>
